<h1>Post</h1>
<p *ngIf="!postList"><em>Loading...</em></p>
<p>
  <a [routeLink]="['/post/create']">Add New Post</a>
</p>
<table class="table" *ngIf="postList">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of postList">
      <td>{{ post.title }}</td>
      <td>{{ post.auther }}</td>
      <td>{{ post.date }}</td>
      <td>
        <a [routerLink]="['/post/edit', post.id]">Edit</a> |
        <a [routerLink]="" (click)="delete(post.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
